:root {
  /* Color */
  --color-primary: #8abbd5;
  --color-primary-dark: #418ab3;
  --color-primary-light: #e8f7ff;;
  --color-success: #93a666;
  --color-success-dark: #87a33d;
  --color-danger: #b96667;
  --color-danger-dark: #bd4243;
  --color-warning: #d29351;
  --color-warning-dark: #d48128;
  --color-secondary: #aba8a3;
  --color-secondary-dark: #88847e;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 2rem;
  margin: 0 auto;
}