.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: normal;
  transition: all .15s;
  cursor: pointer;

  &:link {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &--icon {
    display: flex;
    align-items: center;
  }

  &--svg {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    transition: all .15s;
  }

  /* Color */
  &--primary, &--success,&--danger, &--warning, &--secondary {
    color: white;

    .btn--svg {
      fill: white;
    }
  }

  &--outline-primary, &--outline-success,&--outline-danger, &--outline-warning, &--outline-secondary {
    background: transparent;

    &:hover {
      color: white;

      .btn--svg {
        fill: white;
      }
    }
  }

  @each $type in  primary, success, danger, warning, secondary {
    &--#{$type} {
      border: 1.5px solid var(--color-#{$type});
      background: var(--color-#{$type});
      
      &:hover {
        border: 1.5px solid var(--color-#{$type}-dark);
        background: var(--color-#{$type}-dark);
      }
    }
  
    &--outline-#{$type} {
      border: 1.5px solid var(--color-#{$type});
      color: var(--color-#{$type});
  
      .btn--svg {
        fill: var(--color-#{$type});
      }
  
      &:hover {
        border: 1.5px solid var(--color-#{$type});
        background: var(--color-#{$type});
      }
    }
  }
}